.comment-list{
    padding: 20px;
    width: 100%;
}

.comment-list-options{
    /* column-gap: 1.5rem; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (max-width: 1040px) {
        flex-direction: column;
    }
}

.comment-list-son{
    flex-shrink: 0;
    min-width: fit-content;
    white-space: nowrap;
}
.filter-group{
    margin-left: auto;

    @media (max-width: 1040px) {
        padding-top: 10px;
        margin-left: 0;
    }
}


.icon{
    font-size: 25px;
}