.wiki-image-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
    padding-bottom: 10px;
}

.wiki-image {
    object-fit: cover;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
