:root {
  --header-height: 60px;
}

.app-layout {
  min-height: 100vh;
}

.app-header {
  position: fixed;
  height: var(--header-height);
  z-index: 1;
  width: 100%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: var(--ant-layout-color-bg-body);
  border-bottom: 1px solid var(--ant-color-border);
}

.app-content {
  padding-top: var(
    --header-height
  ); /* Altura del header, al poner position fixed */
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}

.header-title{
  margin-top: 0.5em !important;
}

.wiki-title {
  transition: 0.1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.wiki-title:hover{
  transition: 0.1s ease-in-out;
  color: var(--ant-color-link);
}

.header-tools {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
  flex-grow: 0;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 768px) {

  .app-header {
    padding: 0 12px;
  }
  
  .header-title-container {
    gap: 5px;
  }

  .header-title {
    font-size: 1.25rem !important;
  }

  .header-tools {
    gap: 20px;
  }
}




