:root {
  --header-height: 72px;
}

.app-layout {
  min-height: 100vh;
}

.app-header {
  position: fixed;
  height: var(--header-height);
  z-index: 1;
  width: 100%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: var(--ant-color-text-quaternary);
}

.app-content {
  padding-top: var(
    --header-height
  ); /* Altura del header, al poner position fixed */
}

.header-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-badge {
  display: flex;
  align-items: center;
}

.ant-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-title:hover{
    cursor: pointer;
    color: var(--ant-color-link);
}


