.article-list{
    width: 80%;
}

.article-info {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--ant-color-border);
    height: auto;
    padding: 10px;
    background-color: var(--ant-color-border);
    min-width: 300px;
}