.article-page {
    padding: 0 20px 20px 20px ;
}

.article-prop-text{
  transition: 0.1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-tag{
  cursor: pointer;
}

.reversed{
  flex-direction: column-reverse;
}

.loading-article-page{
  position: absolute;
  left: 50dvw;
  top: 50dvh;
}

.article-body-container{
  width: 100%;
}

.article-body-container img{
  max-width: 60%;
  max-height: 60%;
}